{% extends 'base.html' %} {% block content %}
<h2>Country List</h2>
<form method="get" class="mb-3 d-flex" role="search">
  <input
    type="text"
    name="search"
    placeholder="Search by name"
    class="form-control me-2"
    value="{{ request.GET.search }}"
  />
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Capital</th>
      <th>Population</th>
      <th>Timezone</th>
      <th>Flag</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for country in countries %}
    <tr>
      <td>{{ country.name }}</td>
      <td>{{ country.cca2 }}</td>
      <td>{{ country.capital }}</td>
      <td>{{ country.population }}</td>
      <td>{{ country.timezones|join:", " }}</td>
      <td><img src="{{ country.flag }}" width="40" /></td>
      <td>
        <a href="{% url 'country_details' country.id %}" class="btn btn-info"
          >Details</a
        >
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">No countries found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
