{% extends 'base.html' %} {% block content %}
<h2>{{ country.name }} Details</h2>
<p><strong>Capital:</strong> {{ country.capital }}</p>
<p><strong>Population:</strong> {{ country.population }}</p>
<p><strong>Timezones:</strong> {{ country.timezones|join:", " }}</p>
<p><strong>Flag:</strong> <img src="{{ country.flag }}" width="100" /></p>

<h3>Regional Countries:</h3>
<ul>
  {% for regional_country in regional_countries %}
  <li>{{ regional_country.name }}</li>
  {% empty %}
  <li>No regional countries available.</li>
  {% endfor %}
</ul>

<h3>Languages Spoken:</h3>
<ul>
  {% for language in languages %}
  <li>{{ language.name }}</li>
  {% endfor %}
</ul>

<a href="{% url 'country_list' %}" class="btn btn-secondary"
  >Back to Country List</a
>
{% endblock %}
